@import url("/css/style.css");
@keyframes apparition
{
	from
	{
		opacity: 0;
		transform: translateY(100px);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes float
{
	0%,100%
	{
		transform: translateY(0);
	}
	50%
	{
		transform: translateY(180px);
	}
}
@keyframes floatReverse
{
	0%,100%
	{
		transform: translateY(0);
	}
	50%
	{
		transform: translateY(-180px);
	}
}
@keyframes float2
{
	0%,100%
	{
		transform: translateY(0);
	}
	50%
	{
		transform: translateY(28px);
	}
}
@keyframes floatReverse2
{
	0%,100%
	{
		transform: translateY(0);
	}
	50%
	{
		transform: translateY(-28px);
	}
}
body
{
	background-image: none;
	font-family: sans-serif;
	overflow: hidden;
}
main
{
	animation: apparition 0.8s 0.5s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
	background-color: white;
	box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
	margin: 20px;
	max-width: 100%;
	opacity: 0;
	padding: 60px 40px;
	position: relative;
	text-align: center;
	width: 600px;
	z-index: 1;
}
p
{
	color: dimgrey;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	margin: 0;
}
span
{
	pointer-events: none;
	position: absolute;
}
