a.button
{
	background-color: white;
	border: thick solid dimgrey;
	color: dimgrey;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	margin: 1.5rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: background-color ease 0.1s, color ease 0.1s;
}
a.button:focus, a.button:hover
{
	background-color: dimgrey;
	color: white;
	outline: none;
}
body
{
	align-items: center;
	background-image: url("/img/background.png");
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0;
}
h1
{
	text-align: center;
}
input, select
{
	border: thin solid lightgrey;
	border-radius: 3px;
	padding: 7px 5px;
	transition: border-color ease 0.1s;
}
input:focus, select:focus
{
	border-color: lightskyblue;
	outline: none;
}
input.error, select.error
{
	border-color: darkred;
}
section
{
	margin: 0.5em;
}
