a
{
	background-color: white;
	border: thick solid #595959;
	color: #595959;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	margin: 1.5rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: background-color ease 0.1s, color ease-in-out 0.1s;
}
a:focus, a:hover
{
	background-color: #595959;
	color: white;
	outline: none;
}
body
{
	align-items: center;
	background-image: url("/img/background.png");
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
}
h1
{
	text-align: center;
}
input, select
{
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 7px 5px;
}
input
{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input:focus
{
	border-color: #66AFE9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	outline: none;
}
section
{
	margin: 0.5em;
}
#progress
{
	border: 1px solid #4D90FE;
	border-radius: 2em;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#progress .label
{
	text-align: center;
}
#progress .bar
{
	background-color: #4D90FE;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}
